Example/Example.xcworkspace
Example/Podfile.lock
Example/Pods
Example/Example.xcodeproject/xcuserdata
Example/Example.xcodeproject/project.xcworkspace
Example/Example.xcodeproject/project.xcworkspace/*.*
Example/Example.xcodeproject/project.xcworkspace/*
Example/Example.xcodeproject/xcuserdata/*.*
Example/Example.xcodeproject/xcuserdata/*
Example/Pods/*.*
Example/Pods/*
